.container {
    margin-top: 10px; 
}


.navbar {
    background-color: #343a40; 
    border-bottom: 1px solid #ffffff; 
}

#titulo_nave {
    font-size: 1.8rem; 
}


.navbar-nav .nav-link {
    color: #ffffff; 
    margin: 0 15px; 
}


.navbar-nav .nav-link:hover {
    color:skyblue; 
}

/*  */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; 
}





/* Estilos para los botones  */
.btn:hover {
    background-color: #343a40; 
    color: #ffffff; 
    border: 1px solid #ffffff; 
}


