{% extends "base.html" %}
{% load static %}


{% block title %} Inicio {% endblock %}

{% block body %}


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h1>Información sobre la Empresa</h1>
                <p>
                    La organización SN Fronteras Eventos cuenta con una infraestructura de 4 salones con capacidad para 800 personas, y otros 3 con una capacidad de 250 personas. Las estructuras de estos salones permiten remover las paredes divisorias y formar uno de mayor capacidad. Contando con todas las comodidades tecnológicas de última generación, pantallas gigantes, luces, aire acondicionado, salones acústicos, etc.
                    SN Fronteras Eventos cuenta con un hotel 5 estrellas con una capacidad de 750 habitaciones, y sus instalaciones poseen casino, spa, gimnasio, piscina, helipuerto y playa de estacionamiento. Cuenta con oficinas administrativas, cuya ubicación es el centro de la ciudad, transporte propio desde y hacia el evento (tres combis de 24 asientos cada una) y servicio de catering. De acuerdo a las necesidades, se pueden contratar servicios de terceros como transporte, seguridad, servicios médicos, catering, etc.
                </p>
            </div>
            <div class="col-md-6">
                <h1>Imágenes del Salon</h1>
                <!-- Carrusel de imágenes del hotel -->
                <div id="hotelCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/logo.jpg' %}" class="d-block w-100" alt="Salon 1">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/imagen2.jpg' %}" class="d-block w-100" alt="Salom 2">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/imagen1.jpg' %}" class="d-block w-100" alt="Salom 3">
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" href="#hotelCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" href="#hotelCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
